<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <test name="Login Tests">
        <classes>
            <class name="Testing_xperts.SignInTest"/>
            <class name="Testing_xperts.HomepageTest"/>
            <class name="Testing_xperts.CheckOutTest"/>
            <class name="Testing_xperts.DeleteUserTest"/>
        </classes>
    </test>
</suite>
